@font-face {
  font-family: "font-1";
  src: url(./assets/SandyKidsRegular.ttf);
}

* {
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}
body {
  min-height: 100vh;
  background: url(./assets/glaçonsplage.jpg) center/cover fixed;
  font-family: "font-1";
  font-size: 2rem;
}
h1 {
  font-size: 5rem;
}
#btn {
  text-align: center;
}
.container {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "Box1 Box1 Box1"
    "Box2 Box3 Box4"
    ". . .";
  padding: 20px;
}
.Box1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: Box1;
}
.Box2 {
  grid-area: Box2;
}
.Box3 {
  grid-area: Box3;
}
.Box4 {
  grid-area: Box4;
}

.Box1,
.Box2,
.Box3,
.Box4 {
  display: flex;
  border: 2px solid black;
  background: lightblue;
  justify-content: center;
  height: 200px;
}
.show {
  visibility: visible;
}
